
.friendshipContainer{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    box-shadow: 3px 0px 10px black;
    width: 70%;
    margin-top: 3rem;
    border-radius: 3em;
}

.header{
    text-align: center;
    align-items: center;
}

.numberSet{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.numContainer{
    margin: 5px;
    padding: 5px;
}

.buttonProject5{
    margin: 5px;
    padding: 5px;
    width: 5vw;
    height: 3vw;
    border-radius: 10px;
    background-color: rgb(200, 202, 86);
}

.buttonProject5:active{
    background-color: #da4242;
}

.buttonProject5::before{
background-color: aquamarine;
}

.buttonProject5::after{
    background-color: #2919fd;
}
