
.container_projects {
  width: 100vw;
  height: 350vh;
  margin: 0;

  text-align: center;
  align-items: center;
  justify-content: center;

}

.cardTitle{
  font-size: 0.8vw;
}

.cardText{
  font-size: 0.7vw;
}


.h2_title{
  text-align: center;
  align-items: center;
}

.projects{
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 280vh;
  width: 80vw;
  margin: 30rem auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 2em;;
}

.card_container{
  width: 18vw;
  height: 23vw;
  margin: 2em;
  border-radius: 2em;
}

.imageElement{
  width: 90%;
  height: 60%;
  margin:auto;
  margin-top: 20px;
}

.imageElement2{
  width: 90%;
  height: 60%;
  margin:auto;
  margin-top: 20px;
}

.imageElement3{
  width: 90%;
  height: 60%;
  margin:auto;
  margin-top: 20px;
}

